<div class="container mt20 record">
    <div class="item">
        <label for="" class="title">项目：</label>
        <div class="value">
            <select name="" id="">
                <option value="">跑步</option>
                <option value="">英语听力</option>
            </select>
        </div>
    </div>
    <div class="item">
        <label for="" class="title">日期：</label>
        <div class="value"><input type="radio" name="day" id="" checked="" value="0">今天
            <input type="radio" name="day" id="" value="1">昨天
            <input type="radio" name="day" id="" value="2">前天</div>
    </div>
    <div class="item">
        <label for="" class="title">开始时间：</label>
        <div class="value">
            <input type="text">
        </div>
    </div>
    <div class="item">
        <label for="" class="title">持续时间：</label>
        <div class="value">
            <input type="radio" name="duration" id="" checked="" value="30">30min
            <input type="radio" name="duration" id="" value="45">45min
            <input type="radio" name="duration" id="" value="60">60min
            <input type="radio" name="duration" id="" value="90">90min
            <input type="radio" name="duration" id="" value="120">120min
        </div>
    </div class="item">
    <div class="item">
        <div class="value">
            <button>愉快的记下啦</button>
        </div>
    </div>
</div>