doctype html
html(lange='en')
    head
        title 自我管理
        style
            include style.css
    body
        include ./includes/header.jade
        #content
            include ./includes/content.html